/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

/*===== VARIABLES CSS =====*/
:root{
  --header-height: 3rem;

  /*===== Colors =====*/
  --first-color: #3E0E12;
  --first-color-dark: #2F0A0D;
  --text-color: #524748;
  --first-color-light: #f8414a;
  --first-color-lighten: #FBF9F9;

  /*===== Font and typography =====*/
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*===== Font weight =====*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*===== Margenes =====*/
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  /*===== z index =====*/
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}
  
@media screen and (min-width: 768px){
  :root{
    --biggest-font-size: 4.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  background-color: var(--first-color-lighten);
  color: var(--text-color);
  line-height: 1.6;
}

h1,h2,h3,ul,p{
  margin: 0;
}

h2,h3{
  font-weight: var(--font-semi-bold);
}

ul{
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
  display: block;
}
.logo{
  padding-top: 10px;
  height: 40px;
  display: inline;
}
/*===== CLASS CSS =====*/
.section{
  padding: 4rem 0 2rem;
}

.section-title, .section-subtitle{
  text-align: center;
}

.section-title{
  font-size: var(--h1-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-3);
}

.section-subtitle{
  display: block;
  font-size: var(--smaller-font-size);
  font-weight: var(--font-semi-bold);
}
/*===== LAYOUT =====*/
.bd-container{
  max-width: 1024px;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}
.bd-grid{
  display: grid;
  gap: 1.5rem;
}
.l-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: #000;
}

/*===== NAV =====*/
nav .wrapper{
  position: relative;
  max-width: 1300px;
  padding: 0px 30px;
  height: 70px;
  line-height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .logo a{
  color: #f2f2f2;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.wrapper .nav-links{
  display: inline-flex;
}
.nav-links li{
  list-style: none;
}
.nav-links .mobile-item{
  display: none;
}
.nav-links .drop-menu{
  position: absolute;
  background: #242526;
  width: 300px;
  line-height: 45px;
  border-radius: 5px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box{
  transition: all 0.3s ease;
  top: 70px;
  opacity: 1;
  visibility: visible;
}
.nav-links .drop-menu li a{
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 500;
  border-radius: 0px;
  font-size: 18px;
}
.nav-links li a{
  position: relative;
  color: #f2f2f2;
  text-decoration: none;
  font-weight: 500;
  padding: 9px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
  font-size: 20px;
}
.nav-links li a:before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 10px;
  height: 3px;
  width: 0%;
  background: #34efdf;
  border-radius: 12px;
  transition: all 0.4s ease;
}
.nav-links li a:hover:before{
  width: 80%;
}
.nav-links li.center a:before{
  left: 50%;
  transform: translateX(-50%);
}
.nav-links li.upward a:before{
  width: 100%;
  bottom: -5px;
  opacity: 0;
}
.nav-links li.upward a:hover:before{
  bottom: 0px;
  opacity: 1;
}
.nav-links li.forward a:before{
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease;
}
.nav-links li.forward a:hover:before{
  transform: scaleX(1);
  transform-origin: left;
}
.mega-box{
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 30px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
}
.mega-box .content{
  background: #242526;
  padding: 25px 20px;
  display: flex;
  width: 100%;
  border-radius: 5px;
  justify-content: space-between;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.mega-box .content .row{
  width: calc(25% - 30px);
  line-height: 45px;
}
.mega-box .content .row header{
  font-size: 25px;
}
.content .row img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content .row header{
  color: #f2f2f2;
  font-size: 20px;
  font-weight: 500;
}
.content .row .mega-links{
  margin-left: -40px;
  border-left: 1px solid rgba(255,255,255,0.09);
}
.row .mega-links li{
  padding: 0 20px;
}
.row .mega-links li a{
  padding: 0px;
  padding: 0 20px;
  color: #d9d9d9;
  font-size: 17px;
  display: block;
}
.row .mega-links li a:hover{
  color: #f2f2f2;
}
.wrapper .btn{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.wrapper .btn.close-btn{
  position: absolute;
  right: 30px;
  top: 10px;
}

@media screen and (max-width: 970px) {
  .wrapper .btn{
    display: block;
  }
  .wrapper .nav-links{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 0;
    left: -100%;
    background: #242526;
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
    transition: all 0.3s ease;
  }
  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #242526;
  }
  ::-webkit-scrollbar-thumb {
    background: #3A3B3C;
  }
  #menu-btn:checked ~ .nav-links{
    left: 0%;
  }
  #menu-btn:checked ~ .btn.menu-btn{
    display: none;
  }
  #close-btn:checked ~ .btn.menu-btn{
    display: block;
  }
  .nav-links li{
    margin: 15px 10px;
  }
  .nav-links li a{
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }
  .nav-links .drop-menu{
    position: static;
    opacity: 1;
    top: 65px;
    visibility: visible;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    box-shadow: none;
    transition: all 0.3s ease;
  }
  #showDrop1:checked ~ .drop-menu,
  #showMega1:checked ~ .mega-box{
    max-height: 100%;
  }
  #showDrop2:checked ~ .drop-menu,
  #showMega2:checked ~ .mega-box{
    max-height: 100%;
  }
  #showDrop3:checked ~ .drop-menu,
  #showMega3:checked ~ .mega-box{
    max-height: 100%;
  }
  #showDrop4:checked ~ .drop-menu,
  #showMega4:checked ~ .mega-box{
    max-height: 100%;
  }
  .nav-links .desktop-item{
    display: none;
  }
  .nav-links .mobile-item{
    display: block;
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .nav-links .mobile-item:hover{
    background: #3A3B3C;
  }
  .drop-menu li{
    margin: 0;
  }
  .drop-menu li a{
    border-radius: 5px;
    font-size: 18px;
  }
  .mega-box{
    position: static;
    top: 65px;
    opacity: 1;
    visibility: visible;
    padding: 0 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  .mega-box .content{
    box-shadow: none;
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }
  .mega-box .content .row{
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255,255,255,0.08);
  }
  .mega-box .content .row:nth-child(1),
  .mega-box .content .row:nth-child(2){
    border-top: 0px;
  }
  .content .row .mega-links{
    border-left: 0px;
    padding-left: 15px;
  }
  .row .mega-links li{
    margin: 0;
  }
  .content .row header{
    font-size: 19px;
  }
}
nav input{
  display: none;
}
.body-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 0 30px;
}
.body-text div{
  font-size: 45px;
  font-weight: 600;
}
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo{
  font-size: 25px;
  color: var(--first-color-lighten);
}
/* Show menu */
.show-menu{
 top: var(--header-height);
}

/* Active menu */
.active-link{
  position: relative;
}
.active-link::after{
  content: '';
  position: absolute;
  bottom: -.7rem;
  left: 0;
  width: 65%;
  height: 3px;
  background-color: var(--first-color-light);
}
/* Change background header */
.scroll-header{
  background-color: var(--first-color-lighten);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}
.scroll-header .nav__link{
  color: var(--first-color-dark);
}

/*===== SCROLL TOP =====*/
.scrolltop{
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem;
  background: rgba(123, 111, 113, .7);
  border-radius: .5rem;
  z-index: var(--z-tooltip);
  transition: .4s;
  visibility: hidden;
}

.scrolltop:hover{
  background-color: var(--first-color);
}
.scrolltop__icon{
  font-size: 2rem;
  color: var(--first-color-lighten);
}
/* Show scroll top */
.show-scroll{
  visibility: visible;
  bottom: 1.5rem;
}

/*===== HOME =====*/
.home{
  background-color: black;
  /* background-image: url("../img/testimonial1.jpg"); */
  overflow: hidden;
}
.home__container{
  position: relative;
  height: calc(100vh - var(--header-height));
  grid-template-rows: repeat(2, max-content);
  align-content: space-around;
  row-gap: 2rem;
}
.home__data{
  border-left: 4px solid var(--first-color-lighten);
  color: var(--first-color-lighten);
  padding-left: 1.5rem;
  z-index: 1;
}
.home__name{
  font-size: var(--biggest-font-size);
}
.home__greeting, .home__profession{
  display: block;
  font-weight: var(--font-bold);
}
.home__greeting{
  font-size: .813rem;
}
.home__profession{
  font-size: .938rem;
  margin-bottom: var(--mb-3);
}
.home__img{
  position: absolute;
  width: 300px;
  height: 450px;
  right: 0;
  bottom: -50px;
  z-index: 2;
}
.home__social{
  display: flex;
  flex-direction: column;
}
.home__social-icon{
  width: max-content;
  font-size: 1.3rem;
  margin-bottom: var(--mb-2);
  color: var(--first-color-lighten);
}
.home__social-icon:hover{
  color: var(--first-color-light);
}
/*BUTTONS*/
.button{
  display: inline-block;
  background-color: var(--first-color-light);
  color: var(--first-color-lighten);
  padding: .75rem 1rem;
  border-radius: .25rem;
  transition: .3s;
}
.button:hover{
  opacity: 0.8;
  background-color: #34efdf;
  color: black;
}
.button-light{
  background-color: var(--first-color-light);
}
.button-white{
  background-color: var(--first-color-lighten);
  color: var(--first-color-dark);
}
.button-white:hover{
  background-color: var(--first-color-lighten);
}
.button-link{
  background: none;
  color: var(--first-color);
  padding: 0;
}
.button-link:hover{
  background: none;

}
/*===== ABOUT =====*/
.about__data{
  text-align: center;
}
.about__description span{
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--first-color);
}
.about__number{
  font-size: var(--h1-font-size);
  color: var(--first-color);
  display: block;
}
.about__img{
  justify-self: center;
  width: 220px;
  border-radius: .5rem;
}
/* about-new */
.content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content .list{
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-right: 50px;
  position: relative;
}
.content .list label{
  height: 60px;
  font-size: 22px;
  font-weight: 500;
  line-height: 60px;
  cursor: pointer;
  padding-left: 25px;
  transition: all 0.5s ease;
  color: #333;
  z-index: 12;
}
.title-dp{
  font-weight: 600;
  font-size: large;
}
#home-ab:checked ~ .list label.home-ab,
#blog:checked ~ .list label.blog,
#help:checked ~ .list label.help,
#code:checked ~ .list label.code,
#about:checked ~ .list label.about{
  color: #fff;
}
.content .list label:hover{
  color: #f8414a;
}
.content .slider{
  position: absolute;
  left: 0;
  top: 0;
  height: 60px;
  width: 100%;
  border-radius: 12px;
  background: #f8414a;
  transition: all 0.4s ease;
}
#home-ab:checked ~ .list .slider{
  top: 0;
}
#blog:checked ~ .list .slider{
  top: 60px;
}
#help:checked ~ .list .slider{
  top: 120px;
}
#code:checked ~ .list .slider{
  top: 180px;
}
#about:checked ~ .list .slider{
  top: 240px;
}
.content .text-content{
  width: 80%;
  height: 100%;
}
.content .text{
  display: none;
}
.content .text .title{
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: 500;
}
.content .text p{
  text-align: justify;
}
.content .text-content .home-ab{
  display: block;
}
#home-ab:checked ~ .text-content .home-ab,
#blog:checked ~ .text-content .blog,
#help:checked ~ .text-content .help,
#code:checked ~ .text-content .code,
#about:checked ~ .text-content .about{
  display: block;
}
#blog:checked ~ .text-content .home-ab,
#help:checked ~ .text-content .home-ab,
#code:checked ~ .text-content .home-ab,
#about:checked ~ .text-content .home-ab{
  display: none;
}
.content input{
  display: none;
}

@media screen and (max-width: 768px){
  .content .list .title{
    display: none;
  }
  .content .list i{
    align-items: center;
  }
}
@media screen and (max-width: 1024px){
  .content .list .title{
    font-size: 15px;
  }
  .content .list i{
    align-items: center;
  }
}
/*=============== ACCORDION ===============*/
.accordion {
  display: grid;
  align-content: center;
  height: 100vh;
}

.accordion__container {
  display: grid;
  row-gap: .75rem;
  padding: 2rem 1rem;
  background-color: var(--container-color);
  border-radius: .5rem;
  box-shadow: 0 12px 32px rgba(51, 51, 51, 0.1);
}

.accordion__title {
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: 400;
  margin-top: .15rem;
  transition: .2s;
}

.accordion__header {
  display: flex;
  column-gap: .5rem;
  padding: 1.25rem 1.25rem 1.25rem 1rem;
  cursor: pointer;
}

.accordion__description {
  padding: 0 1.25rem 1.25rem 3rem;
  font-size: var(--smaller-font-size);
}

.accordion__icon {
  font-size: 1.5rem;
  height: max-content;
  color: var(--title-color);
  transition: .3s;
}

.accordion__item {
  box-shadow: 0 2px 6px rgba(38, 38, 38, 0.1);
  background-color: var(--container-color);
  border-radius: .25rem;
  position: relative;
  transition: all .25s ease;
}

.accordion__item::after {
  content: '';
  background-color: var(--first-color);
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: .25rem 0 0 .25rem;
}

.accordion__item:nth-child(1) {
  background-color: #fff7f0;
}

.accordion__item:nth-child(1)::after {
  background-color: #ffc08a;
}

.accordion__item:nth-child(2) {
  background-color: #f0f0ff;
}

.accordion__item:nth-child(2)::after {
  background-color: #8a8aff;
}

.accordion__item:nth-child(3) {
  background-color: #fff0f3;
}

.accordion__item:nth-child(3)::after {
  background-color: #ff8aa1;
}

.accordion__item:nth-child(4) {
  background-color: #f0faff;
}

.accordion__item:nth-child(4)::after {
  background-color: #8ad8ff;
}

.accordion__content {
  overflow: hidden;
  height: 0;
  transition: all .25s ease;
}

/*Rotate icon and add font weight to titles*/
.accordion-open .accordion__icon {
  transform: rotate(45deg);
}

.accordion-open .accordion__title {
  font-weight: 600;
}

/*=============== MEDIA QUERIES ===============*/
/* For medium devices */
@media screen and (min-width: 576px) {
  .accordion__container {
    width: 550px;
    padding: 2.5rem;
    justify-self: center;
    border-radius: .75rem;
  }
  .accordion__header {
    padding: 1.5rem;
  }
  .accordion__title {
    padding-right: 3.5rem;
  }
  .accordion__description {
    padding: 0 4rem 1.25rem 3.5rem;
  }
}

/* For large devices */
@media screen and (min-width: 968px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .img{
    width: 300px;
  }
}

/*===== QUALIFICATION =====*/
.qualification__container{
  row-gap: 2.5rem;
}
.qualification__title{
  font-size: var(--h3-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-2);
  display: flex;
  align-items: center;
}
.qualification__title-icon{
  font-size: 1rem;
  margin-right: var(--mb-1);
}
.qualification__box{
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}
.qualification__area{
  font-size: var(--normal-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-1);
  font-weight: var(--font-medium);
}
.qualification__icon, .qualification__work{
  font-size: var(--small-font-size);
  color: var(--first-color-light);
}
.qualification__work{
  display: block;
}
/*===== SERVICES =====*/
.services__data{
  padding: 3rem 1rem;
  background-color: #FFF;
  border-radius: .5rem;
  text-align: center;
  transition: .4s;
  box-shadow: 0 4px 6px rgba(174,190,205,.3);
}
.services__icon, .services__title{
  margin-bottom: var(--mb-2);
  color: var(--first-color);
}
.services__icon{
  font-size: 3rem;
}
.services__title{
  font-size: var(--h3-font-size);
}
.services__description{
  margin-bottom: var(--mb-4);
}
.services__data:hover{
  transform: translateY(-.5rem);
  box-shadow: 0 6px 8px rgba(174,190,205,.4);
}
/*===== PROJECT IN MIND =====*/
.project__container{
  padding: 1.5rem 1rem;
  padding-top: 15px;
  background-color: var(--first-color-dark);
  color: var(--first-color-lighten);
  border-radius: .5rem;
  align-items: center;
}
.project__icon, .project__title{
  margin-bottom: var(--mb-1);
}
.project__icon{
  font-size: 3.5rem;
}
.project__video{
  width:100%;
  height: 50vh;
  border-radius: 10px;
}

/*===== PORTFOLIO =====*/
.portfolio__nav{
  text-align: center;
  margin-bottom: var(--mb-3);
}
.portfolio__item{
  margin: 0 var(--mb-2);
  cursor: pointer;
}
.portfolio__content{
  background-color: #FFF;
  border-radius: .5rem;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(174,190,205,.3);
}
.portfolio__img{
  width: 100%;
  transition: .4s;
}
.portfolio__data{
  padding: 1.5rem;
}
.portfolio__subtitle{
  font-size: var(--small-font-size);
  color: var(--first-color-light);
}
.portfolio__title{
  font-size: var(--h3-font-size);
  color: var(--first-color);
  margin: var(--mb-2) 0;
}
.portfolio__content:hover{
  box-shadow: 0 6px 8px rgba(174,190,205,.4);
}
.portfolio__content:hover .portfolio__img{
  transform: scale(1.02);
}
/* Active menu portfolio*/
.active-portfolio{
  color: var(--first-color);
  font-weight: var(--font-semi-bold);
}

/*===== TESTIMONIAL =====*/
.sponsor__data .sponsor__profession{
  /* border-left: 10px solid #d6b910; */
  background-image: url('../img/gold\ \(2\).png');
  background-size: 360px 90px;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  /* padding-left: 1.5rem; */
  z-index: 1;
}
.sponsor__data__silver .sponsor__profession{
  /* border-left: 10px solid silver; */
  background-image: url('../img/silver.jpeg');
  background-size: 360px 90px;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  /* padding-left: 1.5rem; */
  z-index: 1;
}
.sponsor__data__cooper .sponsor__profession{
  /* border-left: 10px solid rgb(173, 87, 78); */
  background-image: url('../img/copper.jpeg');
  background-size: 240px 90px;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  /* padding-left: 1.5rem; */
  z-index: 1;
}
.sponsor__data__tatanium .sponsor__profession{
  /* border-left: 10px solid rgb(173, 87, 78); */
  background-image: url('../img/tatanium\ \(2\).png');
  background-size: 360px 90px;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  /* padding-left: 1.5rem; */
  z-index: 1;
}
.sponsor__greeting, .sponsor__profession{
  display: block;
  font-weight: var(--font-bold);
}
.sponsor__greeting{
  font-size: 20px;
  color: rgba(255, 255, 255, 0.884);
}
.sponsor__profession{
  font-size: 50px;
  margin-bottom: var(--mb-2);
}
.testimonial__content{
  display: grid;
  background-color: rgba(37, 27, 21, 0.993);
  color: var(--first-color-lighten);
  border-radius: .5rem;
  padding:  2rem;
  text-align: center;
  box-shadow: 0 4px 8px rgba(47,10,13,.25);
}
.testimonial__img{
  width: 90%;
  height: 200px;
  border-radius: .5rem;
  justify-self: center;
  margin-bottom: var(--mb-1);
}
.testimonial__client{
  font-size: var(--small-font-size);
  color: var(--first-color-light);
  margin-bottom: var(--mb-2);
}
.swiper-pagination{
  position: initial;
}
.swiper-pagination-bullet-active{
  background-color: var(--first-color);
}

/*===== CONTACTME =====*/
.contact__container{
  row-gap: 2.5rem;
}
.contact__content{
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}
.contact__box{
  background-color: #FFF;
  border-radius: .5rem;
  padding-top: 1.5rem ;
  padding-bottom: 1.5rem;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  box-shadow: 0 4px 6px rgba(174,190,205,.3);
}
.contact__icon, .contact__title{
  color: var(--first-color);
}
.contact__icon{
  font-size: 2rem;
}
.contact__title{
  font-size: var(--h3-font-size);
  margin: var(--mb-1) 0;
}
.contact__social{
  color: var(--first-color-light);
  font-size: 1.25rem;
  margin: 0 var(--mb-1);
}
.contact__box:hover{
  box-shadow: 0 6px 8px rgba(174,190,205,.4);
}
.contact__inputs{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.contact__input, .contact__button{
  outline: none;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}
.contact__input{
  width: 100%;
  padding: 1rem;
  border: 2px solid black;
  color: var(--first-color);
  border-radius: .5rem;
  margin-bottom: var(--mb-1);
}
.contact::placeholder{
  color: var(--first-color-light);
  font-family: var(--body-font);
  font-weight: var(--font-semi-bold);
}
.contact__button{
  cursor: pointer;
  border: none;
}
/*===== FOOTER =====*/
.footer{
  background-color: var(--first-color-dark);
  color: var(--first-color-lighten);
  text-align: center;
}
.footer__container{
  padding: 1rem 0;
}
.footer__title{
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-1);
  font-weight: var(--font-semi-bold);
}
.footer__description{
  font-size: 35px;
  margin-bottom: var(--mb-3);
}
.footer__social{
  margin-bottom: var(--mb-1);
}
.footer__link{
  font-size: 1.4rem;
  color: var(--first-color-lighten);
  margin: 0 var(--mb-1);
  transition: .3s;
}
.footer__link:hover{
  color: var(--first-color-light);
}
.footer__copy{
  font-size: var(--small-font-size);
  color: var(--first-color-lighten);
}
/*===== MEDIA QUERIES =====*/
@media screen and (max-width: 360px){
  .home__img{
    position: absolute;
    width: 250px;
    height: 250px;
    right: 0;
    bottom: 50px;
    z-index: 2;
  }
}
@media screen and (min-width: 576px){
  .home__img{
    position: absolute;
    width: 300px;
    height: 300px;
    right: 0;
    bottom: 0;
    z-index: 2;
  }
  .about__container,
  .qualification__container,
  .services__container,
  .portfolio__container{
    grid-template-columns: repeat(2,1fr);
  }
  .contact__form{
    width: 450px;
    justify-self: center;
  }
}

@media screen and (min-width: 768px){
  body{
    margin: 0;
  }
  .section{
    padding-top: 6rem;
  }
  .section-title{
    margin-bottom: var(--mb-5);
  }
  .nav{
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__list{
    display: flex;
  }
  .nav__toggle{
    display: none;
  }
  .home__container{
    height: 100vh;
    grid-template-rows: max-content .5fr;
    align-content: flex-end;
  }
  .home__greeting{
    font-size: 1.25rem;
  }
  .home__profession{
    font-size: 2rem;
  }
  .home__social{
    flex-direction: row;
    align-items: center;
  }
  .home__social-icon{
    margin-right: var(--mb-4);
    margin-bottom: 0;
  }
  .home__img{
    position: absolute;
    width: 350px;
    height: 350px;
    right: 0;
    bottom: 100px;
    z-index: 2;
  }

  .about__description{
    text-align: initial;
  }
  .about__img{
    width: 300px;
  }
  .qualification__box{
    display: flex;
    justify-content: space-between;
  }

  .services__container,
  .portfolio__container
  {
    grid-template-columns: repeat(3,1fr);
  }
  
  .project__video{
    width:100%;
  }
}

@media screen and (min-width: 1024px){
  .bd-container{
    margin-left: auto;
    margin-right: auto;
  }
  .qualification__container{
    column-gap: 6rem;
  }
  .project__video{
    width:100%;
    height: 85vh;
  }
}

/* portfolio-new */
.content-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0.5rem;
}

.news-card {
  border: 0px solid aqua;
  margin: 0.5rem;
  position: relative;
  height: 12rem;
  overflow: hidden;
  border-radius: 0.5rem;
  flex: 1;
  min-width: 290px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}

@media (min-width: 900px) {

.news-card {
    height: 20rem
}
  }

.news-card::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 80%);;
      z-index: 0;
    }

.news-card__card-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
/*     background: rgba(255,0,0,.5); */
  }

.news-card__image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: transform 3s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    z-index: -1;
  }

.news-card__text-wrapper {
    position: absolute;
    bottom: 0rem;
    padding: 1rem;
    color: white;
/*     background-color: rgba(0, 0, 0, 0.4); */
    transition: background-color 1.5s ease;
  }

.news-card__title {
    transition: color 1s ease;
    margin-bottom: .5rem;
  }

.news-card__post-date {
    font-size: .7rem;
    margin-bottom: .5rem;
    color: #CCC;
  }

.news-card__details-wrapper {
    max-height: 0;
    opacity: 0;
    transition: max-height 1.5s ease, opacity 1s ease;
  }

@media (min-width: 900px) {
    .news-card:hover .news-card__details-wrapper {
      max-height: 20rem;
      opacity: 1;
    }
    .news-card:hover .news-card__text-wrapper {
      background-color: rgba(0, 0, 0, 0.6);
    }
    .news-card:hover .news-card__title {
      color: yellow;
    }
    .news-card:hover .news-card__image {
      transform: scale(1.2);
      z-index: -1;
    }
  }

.news-card__excerpt {
    font-weight: 300;
  }

.news-card__read-more {
    background: black;
    color: #bbb;
    display: block;
    padding: 0.4rem 0.6rem;
    border-radius: 0.3rem;
    margin-top: 1rem;
    border: 1px solid #444;
    font-size: 0.8rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-decoration: none;
    width: 7rem;
    margin-left: auto;
    position: relative;
    z-index: 5;
  }

.news-card__read-more i {
      position: relative;
      left: 0.2rem;
      color: #888;
      transition: left 0.5s ease, color 0.6s ease;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }

.news-card__read-more:hover i {
      left: 0.5rem;
      color: yellow;
    }


/* bots */
    
    .wrapper-bots {
      width: 300px;
      height: 500px;
      background: white;
      margin: auto;
      position: relative;
      overflow: hidden;
      border-radius: 10px 10px 10px 10px;
      box-shadow: 0;
      transform: scale(0.95);
      transition: box-shadow 0.5s, transform 0.5s;
    }
    .wrapper-bots:hover {
      transform: scale(1);
      box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
    }
    .wrapper-bots .container-bots {
      width: 100%;
      height: 100%;
    }
    .wrapper-bots .container-bots .top {
      height: 80%;
      width: 100%;
      background: url(https://s-media-cache-ak0.pinimg.com/736x/49/80/6f/49806f3f1c7483093855ebca1b8ae2c4.jpg) no-repeat center center;
      -webkit-background-size: 100%;
      -moz-background-size: 100%;
      -o-background-size: 100%;
      background-size: 100%;
    }
    .wrapper-bots .container-bots .bottom {
      width: 200%;
      height: 20%;
      transition: transform 0.5s;
    }
    .wrapper-bots .container-bots .bottom.clicked {
      transform: translateX(-50%);
    }
    .wrapper-bots .container-bots .bottom h1 {
      margin: 0;
      padding: 0;
    }
    .wrapper-bots .container-bots .bottom p {
      margin: 0;
      padding: 0;
    }
    .wrapper-bots .container-bots .bottom .left {
      height: 100%;
      width: 50%;
      background: #f4f4f4;
      position: relative;
      float: left;
    }
    .wrapper-bots .container-bots .bottom .left .details {
      padding: 20px;
      float: left;
      width: calc(70% - 40px);
    }
    .wrapper-bots .container-bots .bottom .left .buy {
      float: right;
      width: calc(30% - 2px);
      height: 100%;
      background: #f1f1f1;
      transition: background 0.5s;
      border-left: solid thin rgba(0, 0, 0, 0.1);
    }
    .wrapper-bots .container-bots .bottom .left .buy i {
      font-size: 30px;
      padding: 30px;
      color: #254053;
      transition: transform 0.5s;
    }
    .wrapper-bots .container-bots .bottom .left .buy:hover {
      background: #A6CDDE;
    }
    .wrapper-bots .container-bots .bottom .left .buy:hover i {
      transform: translateY(5px);
      color: #00394B;
    }
    .wrapper-bots .container-bots .bottom .right {
      width: 50%;
      background: #A6CDDE;
      color: white;
      float: right;
      height: 200%;
      overflow: hidden;
    }
    .wrapper-bots .container-bots .bottom .right .details {
      padding: 20px;
      float: right;
      width: calc(70% - 40px);
    }
    .wrapper-bots .container-bots .bottom .right .done {
      width: calc(30% - 2px);
      float: left;
      transition: transform 0.5s;
      border-right: solid thin rgba(255, 255, 255, 0.3);
      height: 50%;
    }
    .wrapper-bots .container-bots .bottom .right .done i {
      font-size: 30px;
      padding: 30px;
      color: white;
    }
    .wrapper-bots .container-bots .bottom .right .remove {
      width: calc(30% - 1px);
      clear: both;
      border-right: solid thin rgba(255, 255, 255, 0.3);
      height: 50%;
      background: #BC3B59;
      transition: transform 0.5s, background 0.5s;
    }
    .wrapper-bots .container-bots .bottom .right .remove:hover {
      background: #9B2847;
    }
    .wrapper-bots .container-bots .bottom .right .remove:hover i {
      transform: translateY(5px);
    }
    .wrapper-bots .container-bots .bottom .right .remove i {
      transition: transform 0.5s;
      font-size: 30px;
      padding: 30px;
      color: white;
    }
    .wrapper-bots .container-bots .bottom .right:hover .remove, .wrapper-bots .container-bots .bottom .right:hover .done {
      transform: translateY(-100%);
    }
    .wrapper-bots .inside {
      z-index: 9;
      background: var(--first-color-light);
      width: 130px;
      height: 130px;
      position: absolute;
      top: -70px;
      right: -70px;
      border-radius: 0px 0px 10px 10px;
      transition: all 0.5s, border-radius 2s, top 1s;
      overflow: hidden;
    }
    .wrapper-bots .inside .icon {
      position: absolute;
      right: 80px;
      top: 75px;
      color: white;
      opacity: 1;
    }
    .wrapper-bots .inside:hover {
      width: 100%;
      right: 0;
      top: 0;
      border-radius: 0;
      height: 80%;
      background: black;
    }
    .wrapper-bots .inside:hover .icon {
      opacity: 0;
      right: 15px;
      top: 15px;
    }
    .wrapper-bots .inside:hover .contents {
      opacity: 1;
      transform: scale(1);
      transform: translateY(0);
    }
    .wrapper-bots .inside .contents {
      /* padding: 5%; */
      opacity: 0;
      transform: scale(0.5);
      transform: translateY(-200%);
      transition: opacity 0.2s, transform 0.8s;
    }
    .wrapper-bots .inside .contents table {
      text-align: left;
      width: 100%;
    }
    .wrapper-bots .inside .contents h1, .wrapper-bots .inside .contents p, .wrapper-bots .inside .contents table {
      color: white;
    }
    .wrapper-bots .inside .contents p {
      font-size: 13px;
    }

    /* about */
    /* <source :http://webdesignerhut.com/examples/pure-css-tabs/> */

.tabs {
  max-width: 90%;
  float: none;
  list-style: none;
  padding: 0;
  margin: 75px auto;
  /* border-bottom: 4px solid #ccc; */
}
.tabs:after {
  content: '';
  display: table;
  clear: both;
}
.tabs input[type=radio] {
  display:none;
}
.tabs label {
  display: block;
  float: left;
  width: 33.3333%;
  color: #ccc;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  text-align: center;
  line-height: 2;
  cursor: pointer;
  /* box-shadow: inset 0 4px #ccc; */
  border-bottom: 4px solid #ccc;
  -webkit-transition: all 0.5s; /* Safari 3.1 to 6.0 */
  transition: all 0.5s;
}
.tabs label span {
  display: none;
}
.tabs label i {
  padding: 5px;
  margin-right: 0;
}
.tabs label:hover {
  color: var(--first-color-light);
  /* box-shadow: inset 0 4px var(--first-color-light); */
  border-bottom: 4px solid var(--first-color-light);
}
.tab-content {
  display: none;
  width: 100%;
  float: left;
  padding: 15px;
  box-sizing: border-box;
  background-color:#ffffff;
}
.tab-content * {
  -webkit-animation: scale 0.7s ease-in-out;
  -moz-animation: scale 0.7s ease-in-out;
  animation: scale 0.7s ease-in-out;
}
@keyframes scale {
0% {
  transform: scale(0.9);
  opacity: 0;
  }
50% {
  transform: scale(1.01);
  opacity: 0.5;
  }
100% {
  transform: scale(1);
  opacity: 1;
}
}
.tabs [id^="tab"]:checked + label {
  background: white;
  /* box-shadow: inset 0 4px rgb(141, 141, 141); */
  border-bottom: 4px solid var(--first-color-light);
  color: var(--first-color-light);
}
#tab1:checked ~ #tab-content1,
#tab2:checked ~ #tab-content2,
#tab3:checked ~ #tab-content3 {
  display: block;
}
@media (min-width: 768px) {
  .tabs i {
      padding: 5px;
      margin-right: 10px;
  }
  .tabs label span {
      display: inline-block;
  }
  .tabs {
  max-width: 950px;
  margin: 50px auto;
  }
}

/* sponsors */
.wrapper-sponsor {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.card-sponsor {
  width: 420px;
  height: 340px;
  margin: 1em;
  perspective: 1500px;
}
.card-sponsor .content {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
}

.more {
  display: none;
}
.more:checked ~ .content {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  border-radius: 6px;
}
.front .inner,
.back .inner {
  height: 100%;
  display: grid;
  padding: 1.5em;
  transform: translateZ(80px) scale(0.94);
}

.front {
  background-color: #fff;
  background-size: cover;
  background-position: center center;
}
.front:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 6px;
  backface-visibility: hidden;
  /* background: linear-gradient(40deg, rgba(67, 138, 243, 0.7), rgba(255, 242, 166, 0.7)); */
}
.front .inner {
  grid-template-rows: 5fr 1fr 1fr 2fr 1fr;
  justify-items: center;
}
.front h2 {
  grid-row: 2;
  margin-bottom: 0.3em;
  /* text-transform: uppercase; */
  letter-spacing: 3px;
  color: #fff;
  font-weight: bold;
  font-size: 50px;
  text-shadow: 0.1em 0.1em 0.05em #333;
}
.front .rating {
  grid-row: 3;
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  display: flex;
  flex-flow: row nowrap;
  text-shadow: 0.3em 0.3em 0.1em #333;
}
.front .rating i {
  margin: 0 1px;
}

.back {
  transform: rotateY(180deg);
  background-color: #fff;
  border: 2px solid #f0f0f0;
}
.back .inner {
  grid-template-rows: 1fr 2fr 1fr 2fr 14fr 1fr 1fr;
  grid-template-columns: repeat(4, auto);
  grid-column-gap: 0.8em;
  justify-items: center;
}
.back .info {
  position: relative;
  display: flex;
  align-items: center;
  color: #355cc9;
  grid-row: 3;
}
.back .info:not(:first-of-type):before {
  content: "";
  position: absolute;
  left: -0.9em;
  height: 18px;
  width: 1px;
  background-color: #ccc;
}
.back .info span {
  font-size: 2em;
  font-weight: 700;
}
.back .info i {
  font-size: 1.2em;
}
.back .info i:before {
  background: linear-gradient(40deg, #355cc9, #438af3);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.back .info .icon {
  margin-left: 0.3em;
}
.back .info .icon span {
  display: block;
  margin-top: -0.25em;
  font-size: 0.8em;
  font-weight: 600;
  white-space: nowrap;
}
.back .description {
  grid-row: 5;
  grid-column: 1/-1;
  font-size: 0.86em;
  border-radius: 5px;
  font-weight: 600;
  line-height: 1.4em;
  overflow: auto;
  color: #355cc9;
  padding-right: 10px;
}
.back .location,
.back .price {
  font-weight: 600;
  color: #355cc9;
  grid-row: 1;
  font-size: 0.86em;
}
.back .location {
  grid-column: 1/3;
  justify-self: left;
}
.back .price {
  grid-column: 3/-1;
  justify-self: right;
}
.back .button-sponsor {
  grid-column: 1/-1;
  justify-self: center;
}

.button-sponsor {
  grid-row: -1;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  padding: 0 1.5em;
  height: 3em;
  line-height: 2.9em;
  min-width: 3em;
  background-color: transparent;
  border: solid 2px #fff;
  color: #fff;
  border-radius: 4px;
  text-align: center;
  left: 50%;
  backface-visibility: hidden;
  transition: 0.3s ease-in-out;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}
.button-sponsor:hover {
  background-color: #fff;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  text-shadow: none;
  color: #355cc9;
}
.button-sponsor.return {
  line-height: 3em;
  color: #355cc9;
  border-color: #355cc9;
  text-shadow: none;
}
.button-sponsor.return:hover {
  background-color: #355cc9;
  color: #fff;
  box-shadow: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #859ddf;
}

::-webkit-scrollbar-thumb:hover {
  background: #355cc9;
}